<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title> DBS landing page </title>
</head>
<body>
<!--<form action="/download/imagek2122.png" method="post">-->
<!--<form th:action="@{/download/imagek2122.png}" method="post">-->
<form th:action="@{/filexfr/linktwo}" method="post">
    <label for="otp">OTP:</label>
    <input type="text" id="otp" name="otp" onchange="javascript:encryptFile1();"><br><br><br><br>
    <input type="submit" value="validate OTP">
    <div>
        <a id="aEncsavefile" hidden=""><button>Save Encrypted File</button></a>
    </div>
</form>

<script type="text/javascript">
    async function encryptFile1() {
            const algo = {
                name: 'RSA-OAEP',
                hash: { name: 'SHA-256' }
            };

            //const key = {"kty":"RSA","e":"AQAB","n":"6ev8UMBRVdgWXaYeUFCi7hm-_kYgq8BKqkoHF5w4PedVXHv7J38YCD2ziNXzSAZ7Q2BkELZzHzRdfnrG1FDhXEzELZtJXkEg65UJa_FGrRj4pBwhKAXrfR6oTjxXyn3abgGtn00oC8_mXHgti-ufIXraVoBiRQym1qQbAF9Ek-bmGn5AY_ZmCGTC77ICppU_ehFmyfK5khu9TYCro9BZfbBOwZFt1sUP_Q8e4PQciTIhbe_v_WrbMg1c0qRHjQAW-z2H89SVSA9QASLUnkVuhReHBVcpuWXHQUW7axBNN5v8GfV-zuLfCO6ouBHWXB3fivxYTxAoyLotSWMJXmv68Q"};
            const key = {"kty":"RSA","e":"AQAB","n":"tdzSd8-bzNqLOAPAMfDBYV2Bf_h7MzL52FnVEBA4M_MOW9oXLB4CFX7P2uDMRzZOff60_x4cJX3I65H6tEQoPKUuhRChLbt1ZkCGnotgpVeC-NlAhuQAk7ovhyVnTwn5UGNyThoWul8Vdo0nIhu37DZrUrjCTYOGsIHERTbmjCGjlusaiIn_M0pTsXX-YcKR7OUrArJfZMhkc8G_Duk22YfifFFj81L2ccSkJu1Ll-C0xxWkgRdm-TXfOqGeDCqr-TlSofLYaD9FQQsGRUWpKcPjqVM6ffA-nEzEs1RANRFNRajAe9Z39RUzM9Yj_lS22rNuK0MBeqAH7YPXeSCoTw"};
            const publicKey = await window.crypto.subtle.importKey('jwk', key, algo, false, ['encrypt']);
            var buffer =  await crypto.subtle.encrypt({name: 'RSA-OAEP'}, publicKey,
                                      new TextEncoder().encode('asdf'));
            buffer = new Uint8Array(buffer);
            console.log("encrypted value: " + buffer.byteLength);
            //decrypt
<!--            const pkey = {"kty":"RSA","e":"AQAB","n":"6ev8UMBRVdgWXaYeUFCi7hm-_kYgq8BKqkoHF5w4PedVXHv7J38YCD2ziNXzSAZ7Q2BkELZzHzRdfnrG1FDhXEzELZtJXkEg65UJa_FGrRj4pBwhKAXrfR6oTjxXyn3abgGtn00oC8_mXHgti-ufIXraVoBiRQym1qQbAF9Ek-bmGn5AY_ZmCGTC77ICppU_ehFmyfK5khu9TYCro9BZfbBOwZFt1sUP_Q8e4PQciTIhbe_v_WrbMg1c0qRHjQAW-z2H89SVSA9QASLUnkVuhReHBVcpuWXHQUW7axBNN5v8GfV-zuLfCO6ouBHWXB3fivxYTxAoyLotSWMJXmv68Q"};-->
<!--            const privateKey = await window.crypto.subtle.importKey('jwk', pkey, algo, false, ['decrypt']);-->
<!--            window.crypto.subtle.decrypt(-->
<!--                {-->
<!--                  name: "RSA-OAEP"-->
<!--                },-->
<!--                privateKey,-->
<!--                buffer-->
<!--            );-->

            var blob=new Blob([buffer], {type: 'application/download'});
            var blobUrl=URL.createObjectURL(blob);
            aEncsavefile.href=blobUrl;
            aEncsavefile.download='b.enc';
            aEncsavefile.click();
       }

       async function encryptFile() {
            const algo = {
                name: 'RSA-OAEP',
                hash: { name: 'SHA-256' }
            };

            console.log("inside");
            /*const key = {"kty":"RSA",
                        "e":"AQAB",
                        "n":"t9PUjRszWuICkPKLhGiLMtVaLD7TOWIiOxSvgzCBu3DNwrvmlJ1goronpS5D94QoZifloqKJGnBnpeiRyLRyxClD8pU6RJXnH_lcD-lY5jNMJhxyLrzG8f0ystPg74F8Alx8yf4HOuqhoem1mQTw0R4n5dkYQhC7A7Um6GgELd-re4ac8lICpMVlrY4kBZPtVePBQDMRj4qOj0hsXOj9Wezag9shvB5bVZDZwruLzL5LHMgT8k7m9qpvARHzYHKRrbMXOtteYYZ543UYthVu6UYg4b_ar6WDlgq9DqP3KjH5BGxpMz0a2aQ5tvUZNQja8uGXC19v3R9d3M9CU93L0Q"
                        };*/

            const key = {"kty":"RSA","e":"AQAB","n":"6ev8UMBRVdgWXaYeUFCi7hm-_kYgq8BKqkoHF5w4PedVXHv7J38YCD2ziNXzSAZ7Q2BkELZzHzRdfnrG1FDhXEzELZtJXkEg65UJa_FGrRj4pBwhKAXrfR6oTjxXyn3abgGtn00oC8_mXHgti-ufIXraVoBiRQym1qQbAF9Ek-bmGn5AY_ZmCGTC77ICppU_ehFmyfK5khu9TYCro9BZfbBOwZFt1sUP_Q8e4PQciTIhbe_v_WrbMg1c0qRHjQAW-z2H89SVSA9QASLUnkVuhReHBVcpuWXHQUW7axBNN5v8GfV-zuLfCO6ouBHWXB3fivxYTxAoyLotSWMJXmv68Q"};

            //const publicKey = await window.crypto.subtle.importKey('jwk', key, algo, false, ['wrapKey']);
            const publicKey = await window.crypto.subtle.importKey('jwk', key, algo, false, ['encrypt']);
            console.log("encrypted value: " + new Uint8Array(publicKey));
            var buffer =  await crypto.subtle.encrypt({name: 'RSA-OAEP'}, publicKey,
                                      new TextEncoder().encode('asdf'));
            buffer = new Uint8Array(buffer);

            console.log("encrypted value: " + buffer);

            var blob=new Blob([buffer], {type: 'application/download'});
            var blobUrl=URL.createObjectURL(blob);
            aEncsavefile.href=blobUrl;
            aEncsavefile.download='b.enc';
            aEncsavefile.click();

             /* var key =  await crypto.subtle.importKey('spki', publicKey,
                                {hash: 'SHA-256', name: 'RSA-OAEP'}, true,
                                ['encrypt']);*/

              /*var buffer =  await crypto.subtle.encrypt({name: 'RSA-OAEP'}, key,
                                      new TextEncoder().encode('asdf'));

              console.log("encrypted value: " + new Uint8Array(buffer));*/

            //let cypher = await encrypt("my String...");
            //wrapAESKey(cypher.key);
       }

       async function wrapAESKey(aeskey) {
            console.log("inside");
            const key = {"kty":"RSA",
                        "e":"AQAB",
                        "n":"t9PUjRszWuICkPKLhGiLMtVaLD7TOWIiOxSvgzCBu3DNwrvmlJ1goronpS5D94QoZifloqKJGnBnpeiRyLRyxClD8pU6RJXnH_lcD-lY5jNMJhxyLrzG8f0ystPg74F8Alx8yf4HOuqhoem1mQTw0R4n5dkYQhC7A7Um6GgELd-re4ac8lICpMVlrY4kBZPtVePBQDMRj4qOj0hsXOj9Wezag9shvB5bVZDZwruLzL5LHMgT8k7m9qpvARHzYHKRrbMXOtteYYZ543UYthVu6UYg4b_ar6WDlgq9DqP3KjH5BGxpMz0a2aQ5tvUZNQja8uGXC19v3R9d3M9CU93L0Q"
                        };
            const algo = {
                name: 'RSA-OAEP',
                hash: { name: 'SHA-256' }
            };

            //const aeskey = await window.crypto.subtle.generateKey({ name: 'AES-CBC', length: 256 }, true, ['encrypt', 'decrypt']);
            const publicKey = await window.crypto.subtle.importKey('jwk', key, algo, false, ['wrapKey']);
            const wrappedKey = ab2str(await window.crypto.subtle.wrapKey('raw', aeskey, publicKey, { name: 'RSA-OAEP' }));
            console.log('wrappedKey: ' + wrappedKey);
            //const privateKey = importPrivateKey();
            //console.log("import key" + window.crypto.subtle.importKey('jwk', key, algo, false, ['wrapKey']));
       }

       async function encrypt(data) {
            const key = await window.crypto.subtle.generateKey({ name: 'AES-CBC', length: 256 }, true, ['encrypt', 'decrypt']);
            console.log("encrypt 1");
            const iv = window.crypto.getRandomValues(new Uint8Array(16));
            console.log("encrypt 2");
            const cypher = ab2str(await window.crypto.subtle.encrypt({ name: 'AES-CBC', iv: iv }, key, str2ab(data)));
            console.log("encrypt 3");
            return {
                data: cypher,
                iv: iv,
                key: key
            };
       }

        async function importPrivateKey() {
            const key = "asfasd";
            const algo = {
                name: 'RSA-OAEP',
                hash: { name: 'SHA-256' }
            };
            return await window.crypto.subtle.importKey('jwk', key, algo, false, ['unwrapKey']);
        }

       function ab2str(buf) {
            return String.fromCharCode.apply(null, new Uint16Array(buf));
       }

       function str2ab(str) {
            let buf = new ArrayBuffer(str.length * 2);
            let bufView = new Uint16Array(buf);
            for (let i = 0, strLen = str.length; i < strLen; i++) {
                bufView[i] = str.charCodeAt(i);
            }
            return buf;
       }
</script>

</body></html>