<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title> DBS landing page </title>
</head>
<body>
<!--<form action="/download/imagek2122.png" method="post">-->
<!--<form th:action="@{/download/imagek2122.png}" method="post">-->
<form th:action="@{/filexfr/linktwo}" method="post">
    <label for="otp">OTP:</label>
    <input type="text" id="otp" name="otp"><br><br><br><br>
    <input type="submit" value="validate OTP">
</form>
</body>
</html>